body{
  margin: 0;
padding: 0;
background: darkslateblue;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.container{
  padding: 20px;
  width: 100;
  height: 100vh;
  background-color:transparent;
  border-radius: 2px;
  box-shadow: 0 4px 8px rosybrown;
}
.input-container{
width: 100%;
display: flex;
align-items: center;
border-radius: 10px;
border: 2px salmon;
overflow: hidden;

}
.city-input{
  flex: 1;
  border: none;
  height: 30px;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.search-Icon{
  padding: 10px;
  height: 10px;
  cursor: pointer;
}

.search-Icon img{
  margin-top: 5px;

}

.images{
  text-align: center;
  height: 100px;
  margin-bottom:10px ;
}
.images img{
  width: 160;
  height: 160;
}

.temp, .location, .country{
  margin-top: 5 px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;

}
.temp{
  font-weight: 400px;
}
.location{
  font-weight: 400px;
  color: yellowgreen;
  font-size: 40;
  align-items: center;
}
.country{
  font-size: 35;
  color: black;
  align-items: center;
}

.cord{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.data-container{
  justify-content: space-around;
  display: flex;
  margin-top: 20px;

}
.element{
  text-align: center;
}
.icon{
  height: 50px;
  width: 50px;
}

.loading-msg,
.error-msg,
.city-not-found{
  margin-top: 10px;
  color: red;
  font-size:25px;
  font-weight: 400;
text-align: center;
}